
<%= simple_form_for(@topup) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs row">
    <%= f.input :mobile_number, wrapper_html: { class: 'm6 s12' } %>
    <%= f.input :amount, wrapper_html: { class: 'm6 s12' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
