<p id="notice"><%= notice %></p>

<h1>Topups</h1>

<table>
  <thead>
    <tr>
      <th>Mobile number</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topups.each do |topup| %>
      <tr>
        <td><%= topup.mobile_number %></td>
        <td><%= topup.amount %></td>
        <td><%= link_to 'Show', topup %></td>
        <td><%= link_to 'Edit', edit_topup_path(topup) %></td>
        <td><%= link_to 'Destroy', topup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topup', new_topup_path %>
